# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# IDE settings
.vscode/
.idea/

# Data files
*.csv

# Model checkpoints
*.pt
checkpoint.pt

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

nlp_with_disaster_tweets/glove